body{
	padding: 0;
	margin: 0;
	background: #EFEFF4;
}
.head{
	padding: 15px;
	position: relative;
	background: #fff;
	height: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.head img{
	position: absolute;
	width: 10px;
	height: 18px;
	top: 15px;
	left: 15px;
}
.cont{
	
	padding: 12px;
	margin-top: 6px;
	background: #fff;
	height: 91px;
	position: relative;
	/*overflow: hidden;*/
	
}
.cont .image{
	float: left;
	
}
article .cont .text{
	width: 60%;
	position: absolute;
	top:0;
	right: 10px;

	
}
.text .image{width: 110px;
	height: 120px;}
.cont .image img{
	
	width: 40%;
	
}
.df{
	font-weight: bold;
	font-size: 14px;
}
.ygq{
	font-size: 10px;
	/*margin-left: 100px;*/
}
.pud{
	/*margin-top: 3px;*/
	font-size: 12px;
	color: #585858;
}
.sw{
	width: 50px;
	padding: 0 5px;
	border: 1px solid coral;
	margin-top: 3px;
	border-radius: 2px;
	line-height: 14px;
	color: coral;
	font-size: 4px;
}
.rmb{
	padding-top: 4px;
	float: left;
	color: coral;
	font-size: 12px;
	margin-right: 3px;
	font-weight: bold;
}
.pf{
	font-size: 8px;
	color: #585858;
}
.ri-f{
	overflow: hidden;
}
.yongj{
	padding-top: 5px;
	float: right;
	font-size: 6px;
	color: #585858;
}
.it{
	padding:12px;
	color: #979797;
	font-size: 12px;
	background: #fff;
	border-bottom: 1px solid #F3F3F3;
	overflow: hidden;
	
}
.zhuy{
	margin-top: 8px;
}
.gogo{
	width: 10px;
	color: #000000;
	margin-top: 3px;
	float: right;
	
	height: 10px;
	background: url(../../img/me/content_list_right_icon@2x.png) no-repeat right 0;
	background-size: 6px;
}
.it .fade{
	float: left;
	font-size: 8px;
	text-align: center;
	width: 85px;
	height: 55px;
	margin-right: 18px;
}
.face{
	display: inline-block;
	width: 80px;
	height: 50px;
	background: #878787;
	border-radius: 3px;
}
.touimg{
	width: 60px;
	height: 60px;
	background: #008000;
	margin: 0 auto;
	border-radius: 50%;
}
.gu{
	color: #000000;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	text-align: center;
	margin-top: 5px;
}
.geqian{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	margin-top: 5px;
}
.con1{
	border-top: 1px solid #F0F0F2;
	padding: 8px;
	background: #fff;
}
.con2{
	margin-top: 8px;
}
.bianjizl{
	border:1px solid coral ;
	border-radius: 3px;
	padding: 5px;
	width: 80px;
	margin: 0 auto;
	text-align: center;
	color: coral;
	font-size: 8px;
	margin-top: 8px;
}
.con1 .it:nth-child(1){
	border: none;
}
.it .pad{
	padding-right: 35px;
	text-align: center;
	color: #C3C3C3;
	font-size: 10px;
	
}
.t1{
	margin-top: 8px;
	background: #fff;
	padding:10px;
	font-size: 12px;
	color: #979797;
	overflow: hidden;
}
.kaig{
	display: inline-block;
	float: right;
	width: 45px;
	height: 28px;
	border-radius: 25px;
	background: #EA5404;
	
}
.yuan{
	display: inline-block;
	width: 25px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	margin-top: 1px;
	margin-left: 1px;
	
}
.gy{
	margin-top: 8px;
}
.t4{
	width: 100%;
	padding: 14px;
	text-align: center;
	font-size: 12px;
	background: #fff;
	margin-top: 18px;
}
