.head_box{
	padding: 5px 5px;
	background: #3C3C3B;
	overflow: hidden;
	position: relative;
}
.sai{
	margin-top: 12px;
	width: 38px;
	height: 32px;
	float: left;
	background: url(../../img/details/nav_icon_down@2x.png) no-repeat right 8px;
	background-size: 9px;
	color: #E5E5E5;
	padding-right: 10px;
	margin-left: 6px;
}
.search{
	float: left;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	background: #F1F1F1;
	color: #BBBBBB;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%);
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;
}
.search img{
	width: 12px;
	height: 12px;
	margin-right: 4px;
	vertical-align: text-bottom;
}
.neck{
	padding: 8px 0;
	background: #fff;
}
.neck ul{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
	font-size: 10px;
	color: #737373;
}
.neck ul li{
	float: left;
	width: 21%;
	text-align: center;
	height: 22px;
}
.neck ul li:nth-child(1){
	background: url(../../../../allcommand/public/img/content_icon02_nor@2x.png) no-repeat center bottom;
	background-size: 8px;
}
.neck ul li:nth-child(2){
	background: url(../../../../allcommand/public/img/content_icon02_nor@2x.png) no-repeat center bottom;
	background-size: 8px;
}
.neck ul li:nth-child(3){
	background: url(../../../../allcommand/public/img/content_icon02_nor@2x.png) no-repeat center bottom;
	background-size: 8px;
}
.neck ul li:nth-child(4){
	background: url(../../../../allcommand/public/img/content_icon02_nor@2x.png) no-repeat center bottom;
	background-size: 8px;
}

.neck ul li:nth-child(1):before{
	content: "";
	width:1px;
	height: 14px;
	top:64px;
	left:65px;
	position: absolute;
	background: #EEEEF1;
	z-index: 5;
}
.neck ul li:nth-child(2):before{
	content: "";
	width:1px;
	height: 14px;
	top:64px;
	left:132px;
	position: absolute;
	background: #EEEEF1;
	z-index: 5;
}
.neck ul li:nth-child(3):before{
	content: "";
	width:1px;
	height: 14px;
	top:63px;
	left:200px;
	position: absolute;
	background: #EEEEF1;
	z-index: 5;
}
.neck ul li:nth-child(4):before{
	content: "";
	width:1px;
	height: 14px;
	top:63px;
	left:265px;
	position: absolute;
	background: #EEEEF1;
	z-index: 5;
}
.neck .img{
	width: 15%;
	background: url(../../../../allcommand/public/img/content_icon01_litre@2x.png) no-repeat 14px 2px;
	background-size: 18px;
	height:20px;
}
.cir{
	width: 75px;
	padding: 5px;
	font-size: 12px;
	color: #C6C6C6;
	border-radius: 15px;
	background: #606062;
	margin: 0 auto;
	margin-top: 6px;
}

