<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/info.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/about.css" rel="stylesheet"/>
	</head>
	<body>
		<header class="head-nav"><ul>
			<li>消息</li>
			<li>通知</li>
			<li class="active">需求</li>
		</ul></header>
		
		<div class="con">
			<div class="con-one"><span class="left">一个新的租房需求</span><span class="right">经纪人</span></div>
			<div class="con-two">需求为：外滩SOHO  附近有地铁</div>
			<div class="con-three"><span class="m">了解详情</span><span class="right">08/04/13:06</span></div>
		</div>
		<div class="con">
			<div class="con-one"><span class="left">一个新的租房需求</span><span class="right">经纪人</span></div>
			<div class="con-two">需求为：外滩SOHO  附近有地铁</div>
			<div class="con-three"><span class="m">了解详情</span><span class="right">08/04/13:06</span></div>
		</div>
		<div class="con">
			<div class="con-one"><span class="left">一个新的租房需求</span><span class="right">经纪人</span></div>
			<div class="con-two">需求为：外滩SOHO  附近有地铁</div>
			<div class="con-three"><span class="m">了解详情</span><span class="right">08/04/13:06</span></div>
		</div>
		<div class="con">
			<div class="con-one"><span class="left">一个新的租房需求</span><span class="right">经纪人</span></div>
			<div class="con-two">需求为：外滩SOHO  附近有地铁</div>
			<div class="con-three"><span class="m">了解详情</span><span class="right">08/04/13:06</span></div>
		</div>
		<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
	</body>
</html>
