<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/info.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/about.css" rel="stylesheet"/>
	</head>
		
	</head>
	<body>
		<header class="head-nav"><ul>
			<li>消息</li>
			<li class="active">通知</li>
			<li>需求</li>
		</ul></header>
		<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
		<div class="con tip">
			<div class="con-one concon"><span class="left ti">房源维护提示</span><span class="date">08/04/13:06</span></div>
			<div class="con-two color">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我房补的房源”中更新动态</div>
			
		</div>
		<div class="con tip">
			<div class="con-one concon"><span class="left ti">房源维护提示</span><span class="date">08/04/13:06</span></div>
			<div class="con-two color">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我房补的房源”中更新动态</div>
			
		</div>
	</body>
</html>
