<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/info.css" rel="stylesheet" />
		
	</head>
	<body>
		<header class="head-nav"><ul>
			<li class="active">消息</li>
			<li>通知</li>
			<li>需求</li>
		</ul></header>
		
		<div class="lala">
			<div class="up"><span>你眼中的最美滨江</span></div>
			<div class="middle"><p>&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴，
			徐汇滨江、北外滩……  你眼中的最美滨江夜景在哪儿？</p>
			<div class="time">08/04/13:06</div>
			</div>
		</div>
		
		<div class="lala">
			<div class="up"><span>你眼中的最美滨江</span></div>
			<div class="middle"><p>&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴，
			徐汇滨江、北外滩……  你眼中的最美滨江夜景在哪儿？</p>
			<div class="time">08/04/13:06</div>
			</div>
		</div>
		
		<div class="lala">
			<div class="up"><span>你眼中的最美滨江</span></div>
			<div class="middle"><p>&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴，
			徐汇滨江、北外滩……  你眼中的最美滨江夜景在哪儿？</p>
				<div class="time">08/04/13:06</div>
			</div>
		</div>
		
		<div class="lala">
			<div class="up"><span>你眼中的最美滨江</span></div>
			<div class="middle"><p>&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴，
			徐汇滨江、北外滩……  你眼中的最美滨江夜景在哪儿？</p>
			<div class="time">08/04/13:06</div>
			</div>					
		</div>
		<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
	</body>
</html>
