<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login.css" rel="stylesheet"/>
		<link type="text/css" href="../../public/css/regi.css" rel="stylesheet" />
	</head>
	<body>
		<div class="head"><span  class="back" ><img src="../../public/img/nav_back_icon@2x.png"/></span>忘记密码</div>
		<div class="login_box">
			
			<div class="zh"><span class="img"><img src="../../public/img/content_ID_icon@2x.png"></span>
				<span class="pa">帐号：<input type="text" placeholder="请输入您的手机号"></span></div>
				
			<div class="yz"><span class="img2"><img src="../../public/img/content_verify_icon@2x.png"></span>
				<span class="pa">验证码：<input type="password" placeholder="请输入您的验证码">
				<span class="hq">获取验证码</span></span>
			</div>
				
			<div class="zh"><span class="img2"><img src="../../public/img/content_password_icon@2x.png" ></span>
				<span class="pa">密码：<input type="text" placeholder="请输入您的登录密码"></span>
			</div>
				
			<div class="zh"><span class="img2"><img src="../../public/img/content_password_icon@2x.png" ></span>
				<span class="pa">密码：<input type="password" placeholder="请输入您的登录密码"></span></div>
				
			
				
		</div>
		<div class="dl">确定</div>
	</body>
</html>
