<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
	</head>
	<body>
		<div class="head">
			我
			<img src="../../public/img/me/nav_set_icon@2x.png">
			</div>
			
		<div class="cont">
			<div class="thead"><span class="img"><img src="../../public/img/me/log in_user-head@2x.png"></span>
				<span class="text">点击登录/注册</span>
				<span class="go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span></div>
		</div>
		
		<div class="num">
			<div class="shoucang"><span class="ber">0</span><span class="size">收藏</span></div>
			<div class="jifen"><span class="ber">0</span><span class="size">积分</span></div>	
		</div>
		
		
		<div class="it"><span class="need">我发布的需求</span>
			<span class="need-go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span></div>
		<div class="it"><span class="issue">我发布的房源</span>
			<span class="need-go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span>
		</div>
		<div class="it"><span class="pre">我预约的房源</span>
			<span class="need-go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span>
		</div>
		<div class="it"><span  class="history">历史交易</span>
			<span class="need-go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span>
		</div>
		<div class="it"><span  class="past">过期房源</span>
			<span class="need-go"><img src="../../public/img/me/content_list_right_icon@2x.png"></span>
		</div>
		<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
	</body>
	<script >
	var cK=document.getElementsByClassName("cont")[0];
	 
//	console.log
   cK.onclick=function(){
		location.replace("login.html");
	}
   
		
	</script>
</html>
