<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/loginf.css" rel="stylesheet" />
	</head>
	<body>
		<div class="tub"><img src="../../public/img/tub.gif"></div>
		<div class="foot">Copyright&copy;2016</div>
	</body>
	<script>
		document.onclick=function(){
			location.href = './login_index.html'
		}
	</script>
</html>
