<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/shouye/price.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
	</head>
	<body>
		<header class="shai">
			<div class="head_box">
				<div class="sai">上海</div>
				
			</div>
			<div class="search"><img src="../../public/img/details/nav_icon_search@2x.png">挑好房，上仙居</div>
		</header>
	<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
	</body>
</html>
