<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/login_index.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/shouye/price.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
	</head>
	<body>
		<header class="shai">
			<div class="head_box">
				<div class="sai">上海</div>
				<div class="search"><img src="../../public/img/details/nav_icon_search@2x.png">挑好房，上仙居</div>
			</div>
			<div class="neck"><ul>
				<li>区域</li>
				<li>面积</li>
				<li>单价</li>
				<li>更多</li>
				<li class="img"></li>
			</ul></div>
		</header>
		<div class="cir">价格有低有高</div>
		<!--<active></active>-->
		<article>
			<div class="cont">
					<div class="image">
						<img src="../../public/img/index/content_img_list@2x.png">
					</div>
					<div class="text">
						<div><span class="df">东方金融中心</span><span class="ygq">已过期</span></div>
						<div class="pud">浦东-八佰伴</div>
						<div class="sw">商务中心</div>
						<div class="ri-f"><span class="rmb">&yen;7</span><span class="pf">元/平米/天起</span>
							<span class="yongj">佣金：1个月</span></div>
					</div>
			</div>
			
			<div class="cont">
				<div class="image">
					<img src="../../public/img/index/content_img_list@2x.png">
				</div>
				<div class="text">
					<div><span class="df">东方金融中心</span><span class="ygq">已过期</span></div>
					<div class="pud">浦东-八佰伴</div>
					<div class="sw">商务中心</div>
					<div class="ri-f"><span class="rmb">&yen;7</span><span class="pf">元/平米/天起</span>
						<span class="yongj">佣金：1个月</span></div>
				</div>
			</div>
			<div class="cont">
				<div class="image">
					<img src="../../public/img/index/content_img_list@2x.png">
				</div>
				<div class="text">
					<div><span class="df">东方金融中心</span><span class="ygq">已过期</span></div>
					<div class="pud">浦东-八佰伴</div>
					<div class="sw">商务中心</div>
					<div class="ri-f"><span class="rmb">&yen;7</span><span class="pf">元/平米/天起</span>
						<span class="yongj">佣金：1个月</span></div>
				</div>
			</div><div class="cont">
				<div class="image">
					<img src="../../public/img/index/content_img_list@2x.png">
				</div>
				<div class="text">
					<div><span class="df">东方金融中心</span><span class="ygq">已过期</span></div>
					<div class="pud">浦东-八佰伴</div>
					<div class="sw">商务中心</div>
					<div class="ri-f"><span class="rmb">&yen;7</span><span class="pf">元/平米/天起</span>
						<span class="yongj">佣金：1个月</span></div>
				</div>
			</div>
	<div class="nav">
			<ul>
				<li class="shou"><span>首页</span></li>
				<li class="yu"><span>预约</span></li>
				<li class="jia"><img src="../../public/img/nav/bottom_icon05@2x.png"></li>
				<li class="info"><span>信息</span></li>
				<li class="me"><span>我</span></li>
			</ul>
		</div>
		</article>
			
		
	</body>