<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<title></title>
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/about.css" rel="stylesheet" />
	</head>
	<body>
		<header class="head"><span><img src="../../public/img/nav_back_icon@2x.png"></span>关于</header>
		<div class="tubiao"><img src="../../public/img/about/content_img_logo@2x.png">
		<span class="ban">v1.0.0</span></div>
		<div class="it gy">电话<span class="gogo phone">021-68687878</span></div>
		<div class="it gy">服务条款</div>
		<div class="footer">&copy;2016 All Rights Reserved.</div>
	</body>
</html>
