<!DOCTYPE html>
<<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/about.css" rel="stylesheet" />
	</head>
	<body>
		<header class="head"><span><img src="../../public/img/nav_back_icon@2x.png"></span>收藏</header>
		<div class="neck"><span class="need">需求</span><span class="house">房源</span></div>
		<div class="con">
			<div class="con-one"><span class="left">一个新的租房需求</span><span class="right">经纪人</span></div>
			<div class="con-two">需求为：外滩SOHO  附近有地铁</div>
			<div class="con-three"><span class="m">了解详情</span><span class="right">08/04/13:06</span></div>
		</div>
	</body>
</html>
