<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
	</head>
	<body>
		<header class="head"><span><img src="../../public/img/nav_back_icon@2x.png"></span>个人资料</header>
		<div class="zhuy">
			<div class="it">头像<span class="gogo"></span></div>
			<div class="it">简介<span class="gogo"></span></div>
			<div class="it">所属公司<span class="gogo"></span></div>
			<div class="it">联系方式<span class="gogo"></span></div>
			<div class="it">擅长商圈<span class="gogo"></span></div>
			<div class="it">
				<div class="fade"><span class="face"></span><span>名片正面</span></div>
				<div class="fade"><span class="face"></span><span>全国经纪人证书</span></div>
			</div>
		</div>
		
	</body>
	<script>
		var arr=[1999,08,06];
		console.log(arr.join("-"));
	</script>
</html>
