<!DOCTYPE html>
<<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>仙居</title>
		<link type="text/css" href="../../public/css/i/past.css" rel="stylesheet" />
		<link type="text/css" href="../../public/css/i/about.css" rel="stylesheet" />
	</head>
	<body>
		<header class="head"><span><img src="../../public/img/nav_back_icon@2x.png"></span>设置</header>
		<div class="t1"><span>接受需求</span><span class="kaig"><span class="yuan"></span></span></div>
		<div class="it gy">关于<span class="gogo"></span></div>
		<div class="it gy">清除缓存<span class="gogo pad">7.02M</span></div>
		<div class="t4">退出登录</div>
		<div class="zhezhao"></div>
		<div class="qingli">
			<div class="ti1">您确定清理缓存么？</div>	
			<div class="qq"><span class="cancel">取消</span><span  class="sure">确定</span></div>
		</div>
	</body>
</html>
	</body>
</html>